@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Space+Grotesk:wght@600;700&display=swap");
@import "./variables.scss";

.text-bold,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}

body {
  font-family: "Nunito", sans-serif;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-content.site-layout-background {
  padding: 0;
}
.site-layout .hea {
  background: #fff;
  position: relative;

  span.anticon {
    position: absolute;
    left: -3.5rem;
    top: 2rem;
    color: #fff;
    border-radius: 50%;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.25);
  }
}
.ant-menu-dark li:nth-of-type(6) {
  height: 100%;
}
.people {
  padding: 1rem 0;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  img {
    width: 25px;
    margin: 1rem 0;
    height: 25px;
  }
}
.content-main {
  display: flex;
  padding: 0;
  background-color: #f0f2f5;
  aside {
    margin-right: 2rem;
    width: 15%;
    padding: 1rem;
  }

  .ant-select {
    width: 90%;
    .ant-select-selector {
      background: #fff;
      height: 2.2rem !important;
      color: #03293d;
      border-radius: 8px !important;
    }
    .ant-select-arrow {
      margin-top: -12px;
    }
  }

  .siderHeading {
    .title {
      display: flex;
      margin-bottom: 2rem;
      justify-content: space-between;
      align-items: center;
      img {
        margin-right: 0.5rem;
      }
      .text-bold {
        font-size: 13px;
      }
    }
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5rem;

    .header {
      margin-bottom: 0.5rem;
      color: #03293d80;
    }
    .ant-select {
      width: 90%;
      color: #03293d;
      .ant-select-selector {
        background: #03293d0d;
      }
      .ant-select-arrow {
        margin-top: -5px;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
      "heading heading heading heading"
      "content1 content1 content2 content2"
      "footer footer footer footer";
    .menuicon {
      position: absolute;
      top: 0;
      right: -3rem;
    }
    .headingContent {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      margin-top: 1rem;
      width: 100%;
      grid-area: heading;

      h2 {
        font-weight: 700;
        color: #03293d;
      }
    }
    .content-right {
      grid-area: content2;
    }
    // .content-left,
    // .content-right {
    //   width: 49%;
    // }
    .content-left {
      display: flex;
      flex-direction: column;
      grid-area: content1;

      .content-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
    .card {
      padding: 1rem;
      background: #fff;
      margin: 1rem 0 0;
      display: flex;
      width: 49%;
      color: rgba(3, 41, 61, 0.5);
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      border-radius: 8px;
      .headline-title {
        width: 100%;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba(3, 41, 61, 0.05);
        i {
          margin-left: 1rem;
          color: rgba(3, 41, 61, 0.15);
        }
      }
      .stat-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
        width: 100%;
        .line__change {
          display: flex;
          flex-direction: column;
          div {
            font-size: 12px;
          }
          .caption {
            margin-top: -0.3rem;
            font-size: 14px;
          }
        }
        .text-bold {
          font-size: 1.75rem;
          color: #03293d;
        }
      }
      .growth {
        background-color: rgba(77, 189, 152, 0.1);
        border-radius: 6px;
        padding: 0.25rem 0.5rem;
        font-size: 12px;
        color: #4dbd98;
        font-weight: 700;
      }
    }

    .card2 {
      padding: 1rem;
      background: #fff;
      margin: 1rem 0 0;
      display: flex;
      width: 49%;
      color: rgba(3, 41, 61, 0.5);
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      border-radius: 8px;
      .headline-title {
        width: 100%;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba(3, 41, 61, 0.05);

        i {
          margin-left: 1rem;
          color: rgba(3, 41, 61, 0.15);
        }
      }
      .stat-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
        width: 100%;
        .line__change {
          display: flex;
          flex-direction: column;
          div {
            font-size: 12px;
          }
          .caption {
            margin-top: -0.3rem;
            font-size: 14px;
          }
        }
        .text-bold {
          font-size: 1.75rem;
          color: #03293d;
        }
      }
      .growth {
        background-color: rgba(241, 88, 50, 0.1);
        border-radius: 6px;
        padding: 0.25rem 0.5rem;
        font-size: 12px;
        color: #f15832;
        font-weight: 700;
      }
    }

    .pie {
      padding: 1rem;
      background: #fff;
      margin: 1rem 0;
      display: flex;
      width: 100%;
      color: rgba(3, 41, 61, 0.5);
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      border-radius: 8px;
      .headline-title {
        width: 100%;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba(3, 41, 61, 0.05);
        margin-bottom: 1rem;
        i {
          margin-left: 1rem;
          color: rgba(3, 41, 61, 0.15);
        }
      }
      .chart {
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
        ul {
          padding-left: 1rem;
          li {
            list-style: none;
            display: flex;
            align-items: center;
            margin: 1rem 0;
            .color-icon {
              width: 15px;
              display: block;
              border-radius: 50%;
              height: 15px;
              margin-right: 8px;
            }

            .text-bold {
              margin-right: 1rem;
              color: #03293d;
            }
          }
        }
        .caption-container {
          position: absolute;
          display: flex;
          left: 4rem;
          flex-direction: column;
          // justify-content: center;
          text-align: center;
          // width: 70px;
          .text-bold {
            color: #03293d;
            width: 70%;
          }
          .caption {
            font-size: 11px;
            width: 70%;
          }
        }
      }
      .growth {
        background-color: rgba(77, 189, 152, 0.1);
        border-radius: 6px;
        padding: 0.25rem 0.5rem;
        font-size: 12px;
        color: #4dbd98;
        width: 65px;
        text-align: center;
        font-weight: 700;
      }
    }

    .bar {
      padding: 1rem;
      background: #fff;
      margin: 1rem 0;
      display: flex;
      width: 100%;
      color: rgba(3, 41, 61, 0.5);
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      border-radius: 8px;
      .headline-title {
        width: 100%;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba(3, 41, 61, 0.05);
        margin-bottom: 1rem;
        i {
          margin-left: 1rem;
          color: rgba(3, 41, 61, 0.15);
        }
      }
      .work-content {
        display: flex;
        .text-bold {
          font-size: 1.75rem;
          color: #03293d;
        }
        .mid-span {
          margin: 0 2.5rem;
        }
      }
      .barchart {
        ul {
          padding-left: 1rem;
          display: grid;
          margin-bottom: -4px;
          // place-items: center;
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

          li {
            list-style: none;
            display: flex;
            align-items: center;
            margin: 0.5rem 0;
            .color-icon {
              width: 15px;
              display: block;
              border-radius: 50%;
              height: 15px;
              margin-right: 8px;
            }

            .text-bold {
              margin-right: 1rem;
              // color: ;
              color: #03293d;
            }
          }
        }
      }
    }
    .idleBar {
      padding: 1rem;
      background: #fff;
      margin: 1rem 0;
      display: flex;
      width: 100%;
      color: rgba(3, 41, 61, 0.5);
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      border-radius: 8px;
      .headline-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(3, 41, 61, 0.05);
        margin-bottom: 1rem;
        i {
          margin-left: 1rem;
          color: rgba(3, 41, 61, 0.15);
        }
        ul {
          padding-left: 1rem;
          display: flex;
          margin-bottom: 0;
          li {
            list-style: none;
            display: flex;
            align-items: center;
            margin: 0 1rem;
            .color-icon {
              width: 15px;
              display: block;
              border-radius: 50%;
              height: 15px;
              margin-right: 8px;
            }

            .text-bold {
              margin-right: 1rem;
              color: #03293d;
            }
          }
        }
      }
    }

    .content-bottom {
      width: 100%;
      grid-area: footer;
      .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        grid-gap: 10px;
        .graphcard {
          padding: 1rem;
          background: #fff;
          margin: 1rem 0;
          display: flex;
          width: 100%;
          color: rgba(3, 41, 61, 0.5);
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          border-radius: 8px;
          .headline-title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgba(3, 41, 61, 0.05);
            margin-bottom: 1rem;
            i {
              margin-left: 1rem;
              color: rgba(3, 41, 61, 0.15);
            }
          }
          .chart {
            display: flex;
            justify-content: space-between;
            h2 {
              font-size: 32px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .content-main aside {
    display: none;
  }
  .content-main .content {
    width: 90%;
    .pie,
    .content-cards {
      width: 100%;
    }
    .menuicon {
      position: absolute;
      top: -1rem;
      right: -0.5rem;
    }
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    // align-items: center;
    // place-items: center;
    grid-template-areas:
      "heading  "
      "content1  "
      "content2  "
      "footer   ";
  }
}
@media screen and (min-width: 850px) and (max-width: 1375px) {
  .content-main .content {
    .pie,
    .content-cards {
      width: 100%;
    }
    .menuicon {
      position: absolute;
      top: -1rem;
      right: -0.5rem;
    }
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    // align-items: center;
    // place-items: center;
    grid-template-areas:
      "heading heading heading "
      "content1 content1 content1"
      "content2 content2 content2"
      "footer footer footer ";
  }
}
